body{background: #eee;}

.wrap{overflow-x: hidden;}
.wrap_inner{margin-bottom: 1.04rem;}
/*banner*/
.banner{width: 100%; height:2.5rem; background: url(../img/banner.png) no-repeat center; background-size: 100% 100%;}

.fixed_box{width: 100%; top: 0; left: 0; z-index: 1; background: #eee;}
/*头部*/
.header{font-size: 0.28rem; height: 0.82rem; background: #fff; overflow-y: hidden;} 
.header dl{text-align: center; height: 0.82rem;width:300%; line-height: 0.82rem;  }
.header dl dt{width: 1.65rem;}
.header dl dd{float: left; margin: 0 0.36rem;}
.header dl dd.active{color: #24bfff;}

/*切换*/
.switch{width: 100%; text-align: center; height: 0.6rem; line-height: 0.6rem; margin: 0.2rem 0; font-size: 0.28rem; background: #fff; top: 0; left: 0; z-index: 1;}
.switch span{width: 33.33%; color: #666; height:0.6rem;}
.switch span.active{background: #24bfff; color: #fff;}

/*资源列表*/
.tab_box{/*margin-bottom: 0.84rem;*/}
.list_box{display: none;}
.list_box:first-child{display: block;}
.list{position: relative; background: #fff; margin-bottom: 0.2rem; transition: transform .2s;}
.tit{border-bottom: 1px solid #ddd; font-size: 0.28rem; height: 0.69rem; line-height: 0.69rem; }
.tit h3{padding: 0 0.2rem;}
.list h3 span{}
.state{padding-right: 0.2rem; color: #999;}
.state img{width: 0.29rem; height: 0.29rem; vertical-align: -0.04rem;}
.list_detail{font-size: 0.24rem; color: #666; padding: 0.22rem 0 0.16rem 0.2rem;}
.list_detail p{line-height: 0.47rem;}
.main_img{width: 1.15rem; height: 0.97rem; margin-right: 0.22rem;}
.main_img img{width: 100%;}
.list_deLeft{margin-right: 0.3rem;}
.list_deLeft span{display: inline-block; vertical-align: bottom; width: 1.1rem; white-space: nowrap; text-overflow: ellipsis; overflow: hidden;}
.to_left{position: absolute; top: 0; right: -2.92rem;}
.slide_img{width: 0.52rem; height: 2.05rem;}
.list_option{color: #fff; text-align: center;}
.open{width: 1.84rem; height: 2.06rem; background: #bdbdbd; border-right: 1px solid #fff;}
.open img{display: block; width: 0.34rem; height: 0.34rem; margin: 0.62rem auto 0.15rem;}
.delete{width: 1.08rem; height: 2.06rem; background: #ff4864;}
.delete img{display: block; width: 0.3rem; height: 0.32rem; margin: 0.62rem auto 0.18rem;}

/*收藏与分享*/
.to_leftShare{right: -1.08rem;}

/*底部筛选框*/
.bott{width: 100%; position: fixed; left: 0; bottom: 0; z-index: 104; background: #878787; color: #fff;}
.screen_box{width: 100%; height: 0.84rem; line-height: 0.84rem;}
.screen_box div{position: relative; float: left; padding-left: 0.2rem; background: url(../img/dropdown_white.png) no-repeat center; background-size: 0.2rem 0.16rem; display: none; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; padding-right: 0.33rem;}
.screen_box div:first-child{display: block; left: 50%; /*transform: translateX(-50%);*/ margin-left: -0.64rem;}
.screen_box div.active{color: #000; background: url(../img/dropdown_black.png) #fff no-repeat center; background-size: 0.2rem 0.16rem;}
.screen_box div.grade{width: 1.08rem; background-position-x: 1rem;  text-overflow: initial; padding-right: 0;}
.screen_box div.subject{width: 1.08rem; background-position-x: 1.35rem;}
.screen_box div.unit{width: 1.3rem; background-position-x: 1.58rem;}
.screen_box div.topic{width: 1.65rem; background-position-x: 1.8rem; /*padding-right: 0.39rem;*/}
.screen_box>img{float: left; width: 0.2rem; height: 0.19rem; padding-top: 0.34rem; display: none;}

/*底部弹框年级 科目*/
.bomb .con{width: 100%; left: 0; top: inherit; bottom: 0.82rem; -webkit-transform: translate(0,0); -ms-transform: translate(0,0); transform: translate(0,0); border-radius: 0; font-size: 0.28rem;}
.bomb .con ul{max-height: 6.6rem; overflow-y: auto; z-index: 105; padding: 0 0.2rem;}
.bomb .con ul li{float: left; line-height: 1.1rem; padding: 0 0.17rem;} 
/*底部弹框单元 题目*/
.bomb .con ol{max-height: 6.39rem; overflow-y: auto; z-index: 105;}
.bomb .con ol li{height: 1.05rem; line-height: 1.05rem; border-bottom: 1px solid #ccc; text-align: left; padding: 0 0.34rem; border-bottom: 1px solid #ccc;}
.bomb .con em {
	display: block;
    width: 100%;
    font-style: normal;
    padding: .25rem 0;
    color: red;
}

/*搜索资源模块*/
/*搜索历史*/
.searchInpWrap{padding:0.24rem 0.2rem 0.24rem; background: #fff;}
.searchInpWrap .searchInp{background:#ebebeb; padding-left:0.1rem;  border-radius: 0.11rem;  float:right}
.searchInpWrap span{float:left; /*margin-right:0.13rem;*/line-height: 0.69rem;}
.searchInp input{float:left; width:5.3rem; height:0.69rem; background:#EBEBEB; padding-left:0.15rem; font-size: 0.26rem; font-family:'microsoft yahei'; color:#999}
.searchInp button{float:right; height:0.69rem; padding-left:0.3rem; background:none; padding-right:0.3rem;}
.searchInp button img{width:0.3rem; height:0.3rem}
.searchInp input::-webkit-input-placeholder{color:#bbb; font-size: 0.26rem; font-family:'microsoft yahei';}
.searchWrap{padding:0 0.2rem 0.12rem 0.2rem; border-top:1px solid #ccc; overflow: hidden; }
.searchWrap .searchHistory{margin-top:0.3rem; overflow: hidden;}
.searchWrap .searchHistory h3{font-size:0.27rem; margin-bottom:0.22rem; }
.searchWrap .searchHistory ul li{float:left; padding:0 0.15rem; line-height:0.48rem; margin-right:0.24rem ; margin-bottom:0.2rem ; background:#ebebeb; border-radius: 0.1rem;}
.resetHistory{margin-top:0.21rem; text-align:center}
/*搜索条件为空*/
.searchNull .imgNull{padding-top:1.05rem; padding-bottom:0.48rem; text-align: center;}
.searchNull .imgNull img{width:2.85rem; height:4.56rem}
.searchNull .searchTitle {padding-left:0.22rem; font-size:0.28rem}
.searchNull .searchTitle em{margin-left:0.08rem; color:#24BFFF}
.searchNull p{text-align: center; margin-bottom:0.2rem; color:#666}
.searchNull .reverse span{float:left; padding:0 0.8rem; line-height:0.6rem; height:0.6rem; border-radius: 0.1rem; background:#24bfff; margin-left:50%; -webkit-transform: translateX(-50%); color:white;  }
.searchNull .reverse {text-align: center;}
/*.searchNull .reverse a:active{color:white}*/

/*可以搜索出*/
.searchContent{width:100%; overflow:hidden; overflow-x: hidden;}
.searchContent h4{padding-left:0.2rem; background:#eee; padding-top:0.2rem;}
.searchContent h4 i{color:#fe4763;}


/*删除弹框*/
.per_del{}
.per_del .con{width:5.92rem; height:2.51rem; background:white; border-radius: 0.12rem;}
.per_del p{line-height:1.44rem; font-size:0.28rem; color:#000}
.per_del button{width:1.38rem; height:0.62rem; background:#24bfff; color:white; font-family: "microsoft yahei"; font-size:0.26rem; border-radius:0.12rem}
.per_del button:last-child{margin-left:0.45rem; background:#d9d9d9}


/*正在加载*/
.bottoLoading{position: fixed; width: 100%; bottom: 0.84rem;}

/*无资源*/
.allNoresult{background: #eee;}
.allNoresult>img{margin:1.20rem auto 0;width:3.47rem;display:block;}
.allNoresult>p{padding-top:0.42rem;text-align:center;font-size:0.3rem;line-height:0.3rem;color:#999;}



/*--------------------------*/

.mui-card .mui-table-view {
	margin-bottom: 0;
	border-top: 0;
	border-bottom: 0;
	border-radius: 6px
}

.mui-card .mui-table-view .mui-table-view-cell:first-child,.mui-card .mui-table-view .mui-table-view-divider:first-child {
	top: 0;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px
}

.mui-card .mui-table-view .mui-table-view-cell:last-child,.mui-card .mui-table-view .mui-table-view-divider:last-child {
	border-bottom-right-radius: 6px;
	border-bottom-left-radius: 6px
}

.mui-card .mui-table-view:after,.mui-card .mui-table-view:before,.mui-card>.mui-table-view>.mui-table-view-cell:last-child:after,.mui-card>.mui-table-view>.mui-table-view-cell:last-child:before {
	height: 0
}

.mui-table-view {
	position: relative;
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
	list-style: none;
}

.mui-table-view:after {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	height: 0px;
	content: '';
	-webkit-transform: scaleY(.5);
	transform: scaleY(.5);
	background-color: #000;
}

.mui-table-view:before {
	position: absolute;
	right: 0;
	left: 0;
	height: 0px;
	content: '';
	-webkit-transform: scaleY(.5);
	transform: scaleY(.5);
	background-color: #000;
	top: -1px
}

.mui-table-view-icon .mui-table-view-cell .mui-navigate-right .mui-icon {
	font-size: 20px;
	margin-top: -1px;
	margin-right: 5px;
	margin-left: -5px
}

.mui-table-view-icon .mui-table-view-cell:after {
	left: 40px
}

.mui-table-view-chevron .mui-table-view-cell {
	padding-right: 65px
}

.mui-table-view-chevron .mui-table-view-cell>a:not(.mui-btn) {
	margin-right: -65px
}

.mui-table-view-radio .mui-table-view-cell {
	padding-right: 65px
}

.mui-table-view-radio .mui-table-view-cell>a:not(.mui-btn) {
	margin-right: -65px
}

.mui-table-view-radio .mui-table-view-cell .mui-navigate-right:after {
	font-size: 30px;
	font-weight: 600;
	right: 9px;
	content: '';
	color: #007aff
}






.mui-table-view-cell:after {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 15px;
	height: 1px;
	content: '';
	-webkit-transform: scaleY(.5);
	transform: scaleY(.5);
	background-color: #222
}

.mui-table-view-inverted .mui-table-view-cell.mui-active,.mui-table-view-inverted .mui-table-view-cell>a:not(.mui-btn).mui-active {
	background-color: #242424
}

.mui-table-view-cell {
	position: relative;
	overflow: hidden;
	-webkit-touch-callout: none
}

.mui-table-view-cell:after {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 15px;
	height: 1px;
	content: '';
	-webkit-transform: scaleY(.5);
	transform: scaleY(.5);
	background-color: #c8c7cc
}

.mui-table-view-cell.mui-checkbox input[type=checkbox],.mui-table-view-cell.mui-radio input[type=radio] {
	top: 8px
}

.mui-table-view-cell.mui-checkbox.mui-left,.mui-table-view-cell.mui-radio.mui-left {
	padding-left: 58px
}

.mui-table-view-cell.mui-active {
	background-color: #eee
}

.mui-table-view-cell:last-child:after,.mui-table-view-cell:last-child:before {
	height: 0
}

.mui-table-view-cell>a:not(.mui-btn) {
	position: relative;
	display: block;
	overflow: hidden;
	margin: -11px -15px;
	padding: inherit;
	white-space: nowrap;
	text-overflow: ellipsis;
	color: inherit
}

.mui-table-view-cell>a:not(.mui-btn).mui-active {
	background-color: #eee
}

.mui-table-view-cell p {
	margin-bottom: 0
}

.mui-table-view-cell.mui-transitioning>.mui-slider-handle,.mui-table-view-cell.mui-transitioning>.mui-slider-left .mui-btn,.mui-table-view-cell.mui-transitioning>.mui-slider-right .mui-btn {
	-webkit-transition: -webkit-transform 300ms ease;
	transition: transform 300ms ease
}

.mui-table-view-cell.mui-active>.mui-slider-handle {
	background-color: #eee
}

.mui-table-view-cell>.mui-slider-handle {
	position: relative;
	background-color: #fff
}

.mui-table-view-cell>.mui-slider-handle .mui-navigate-right:after,.mui-table-view-cell>.mui-slider-handle.mui-navigate-right:after {
	right: 0
}

.mui-table-view-cell>.mui-slider-handle,.mui-table-view-cell>.mui-slider-left .mui-btn,.mui-table-view-cell>.mui-slider-right .mui-btn {
	-webkit-transition: -webkit-transform 0ms ease;
	transition: transform 0ms ease
}

.mui-table-view-cell>.mui-slider-left,.mui-table-view-cell>.mui-slider-right {
	position: absolute;
	top: 0;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	height: 100%
}

.mui-table-view-cell>.mui-slider-left>.mui-btn,.mui-table-view-cell>.mui-slider-right>.mui-btn {
	position: relative;
	left: 0;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	color: #fff;
	border: 0;
	border-radius: 0;
	-webkit-box-align: center;
	-webkit-align-items: center;
	align-items: center
}

.mui-table-view-cell>.mui-slider-left>.mui-btn:after,.mui-table-view-cell>.mui-slider-right>.mui-btn:after {
	position: absolute;
	z-index: -1;
	top: 0;
	width: 600%;
	height: 100%;
	content: '';
	background: inherit
}

.mui-table-view-cell>.mui-slider-left>.mui-btn.mui-icon,.mui-table-view-cell>.mui-slider-right>.mui-btn.mui-icon {
	font-size: 30px
}

.mui-table-view-cell>.mui-slider-right {
	right: 0;
	-webkit-transition: -webkit-transform 0ms ease;
	transition: transform 0ms ease;
	-webkit-transform: translateX(100%);
	transform: translateX(100%)
}

.mui-table-view-cell>.mui-slider-left {
	left: 0;
	-webkit-transition: -webkit-transform 0ms ease;
	transition: transform 0ms ease;
	-webkit-transform: translateX(-100%);
	transform: translateX(-100%)
}

.mui-table-view-cell>.mui-slider-left>.mui-btn:after {
	right: 100%;
	margin-right: -1px
}



.mui-table-view .mui-media,.mui-table-view .mui-media-body {
	overflow: hidden
}

.mui-table-view .mui-media-large .mui-media-object {
	line-height: 80px;
	max-width: 80px;
	height: 80px
}

.mui-table-view .mui-media .mui-subtitle {
	color: #000
}

.mui-table-view .mui-media-object {
	line-height: 42px;
	max-width: 42px;
	height: 42px
}

.mui-table-view .mui-media-object.mui-pull-left {
	margin-right: 10px
}

.mui-table-view .mui-media-object.mui-pull-right {
	margin-left: 10px
}

.mui-table-view .mui-table-view-cell.mui-media-icon .mui-media-object {
	line-height: 29px;
	max-width: 29px;
	height: 29px;
	margin: -4px 0
}

.mui-table-view .mui-table-view-cell.mui-media-icon .mui-media-object img {
	line-height: 29px;
	max-width: 29px;
	height: 29px
}

.mui-table-view .mui-table-view-cell.mui-media-icon .mui-media-object.mui-pull-left {
	margin-right: 10px
}

.mui-table-view .mui-table-view-cell.mui-media-icon .mui-media-object .mui-icon {
	font-size: 29px
}

.mui-table-view .mui-table-view-cell.mui-media-icon .mui-media-body:after {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 55px;
	height: 1px;
	content: '';
	-webkit-transform: scaleY(.5);
	transform: scaleY(.5);
	background-color: #c8c7cc
}

.mui-table-view .mui-table-view-cell.mui-media-icon:after {
	height: 0!important
}

.mui-table-view.mui-unfold .mui-table-view-cell.mui-collapse .mui-table-view {
	display: block
}

.mui-table-view.mui-unfold .mui-table-view-cell.mui-collapse .mui-table-view:after,.mui-table-view.mui-unfold .mui-table-view-cell.mui-collapse .mui-table-view:before {
	height: 0!important
}

.mui-table-view.mui-unfold .mui-table-view-cell.mui-media-icon.mui-collapse .mui-media-body:after {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 70px;
	height: 1px;
	content: '';
	-webkit-transform: scaleY(.5);
	transform: scaleY(.5);
	background-color: #c8c7cc
}

.mui-table-view-cell>.mui-badge,.mui-table-view-cell>.mui-btn,.mui-table-view-cell>.mui-switch,.mui-table-view-cell>a>.mui-badge,.mui-table-view-cell>a>.mui-btn,.mui-table-view-cell>a>.mui-switch {
	position: absolute;
	top: 50%;
	right: 15px;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%)
}

.mui-table-view-cell .mui-navigate-right>.mui-badge,.mui-table-view-cell .mui-navigate-right>.mui-btn,.mui-table-view-cell .mui-navigate-right>.mui-switch,.mui-table-view-cell .mui-push-left>.mui-badge,.mui-table-view-cell .mui-push-left>.mui-btn,.mui-table-view-cell .mui-push-left>.mui-switch,.mui-table-view-cell .mui-push-right>.mui-badge,.mui-table-view-cell .mui-push-right>.mui-btn,.mui-table-view-cell .mui-push-right>.mui-switch,.mui-table-view-cell>a .mui-navigate-right>.mui-badge,.mui-table-view-cell>a .mui-navigate-right>.mui-btn,.mui-table-view-cell>a .mui-navigate-right>.mui-switch,.mui-table-view-cell>a .mui-push-left>.mui-badge,.mui-table-view-cell>a .mui-push-left>.mui-btn,.mui-table-view-cell>a .mui-push-left>.mui-switch,.mui-table-view-cell>a .mui-push-right>.mui-badge,.mui-table-view-cell>a .mui-push-right>.mui-btn,.mui-table-view-cell>a .mui-push-right>.mui-switch {
	right: 35px
}

.mui-content>.mui-table-view:first-child {
	margin-top: 15px
}

.mui-table-view-cell.mui-collapse .mui-table-view .mui-table-view-cell:last-child:after,.mui-table-view-cell.mui-collapse .mui-table-view:after,.mui-table-view-cell.mui-collapse .mui-table-view:before {
	height: 0
}

.mui-table-view-cell.mui-collapse>.mui-navigate-right:after,.mui-table-view-cell.mui-collapse>.mui-push-right:after {
	content: '\e581'
}

.mui-table-view-cell.mui-collapse.mui-active {
	margin-top: -1px
}

.mui-table-view-cell.mui-collapse.mui-active .mui-collapse-content,.mui-table-view-cell.mui-collapse.mui-active .mui-table-view {
	display: block
}

.mui-table-view-cell.mui-collapse.mui-active>.mui-navigate-right:after,.mui-table-view-cell.mui-collapse.mui-active>.mui-push-right:after {
	content: '\e580'
}

.mui-table-view-cell.mui-collapse.mui-active .mui-table-view-cell>a:not(.mui-btn).mui-active {
	margin-left: -31px;
	padding-left: 47px
}

.mui-table-view-cell.mui-collapse .mui-collapse-content {
	position: relative;
	display: none;
	overflow: hidden;
	margin: 11px -15px -11px;
	padding: 8px 15px;
	-webkit-transition: height .35s ease;
	-o-transition: height .35s ease;
	transition: height .35s ease;
	background: #fff
}

.mui-table-view-cell.mui-collapse .mui-collapse-content>.mui-input-group,.mui-table-view-cell.mui-collapse .mui-collapse-content>.mui-slider {
	width: auto;
	height: auto;
	margin: -8px -15px
}

.mui-table-view-cell.mui-collapse .mui-collapse-content>.mui-slider {
	margin: -8px -16px
}

.mui-table-view-cell.mui-collapse .mui-table-view {
	display: none;
	margin-top: 11px;
	margin-right: -15px;
	margin-bottom: -11px;
	margin-left: -15px;
	border: 0
}

.mui-table-view-cell.mui-collapse .mui-table-view.mui-table-view-chevron {
	margin-right: -65px
}

.mui-table-view-cell.mui-collapse .mui-table-view .mui-table-view-cell {
	padding-left: 31px;
	background-position: 31px 100%
}

.mui-table-view-cell.mui-collapse .mui-table-view .mui-table-view-cell:after {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 30px;
	height: 1px;
	content: '';
	-webkit-transform: scaleY(.5);
	transform: scaleY(.5);
	background-color: #c8c7cc
}

.mui-table-view.mui-grid-view {
	font-size: 0;
	display: block;
	width: 100%;
	padding: 0 10px 10px 0;
	white-space: normal
}

.mui-table-view.mui-grid-view .mui-table-view-cell {
	font-size: 17px;
	display: inline-block;
	margin-right: -4px;
	padding: 10px 0 0 14px;
	text-align: center;
	vertical-align: middle;
	background: 0 0
}

.mui-table-view.mui-grid-view .mui-table-view-cell .mui-media-object {
	width: 100%;
	max-width: 100%;
	height: auto
}

.mui-table-view.mui-grid-view .mui-table-view-cell>a:not(.mui-btn) {
	margin: -10px 0 0 -14px
}

.mui-table-view.mui-grid-view .mui-table-view-cell>a:not(.mui-btn).mui-active,.mui-table-view.mui-grid-view .mui-table-view-cell>a:not(.mui-btn):active {
	background: 0 0
}

.mui-table-view.mui-grid-view .mui-table-view-cell .mui-media-body {
	font-size: 15px;
	line-height: 15px;
	display: block;
	width: 100%;
	height: 15px;
	margin-top: 8px;
	text-overflow: ellipsis;
	color: #333
}

.mui-table-view.mui-grid-view .mui-table-view-cell:after,.mui-table-view.mui-grid-view .mui-table-view-cell:before {
	height: 0
}

.mui-grid-view.mui-grid-9 {
	margin: 0;
	padding: 0;
	border-top: 1px solid #eee;
	border-left: 1px solid #eee;
	background-color: #f2f2f2
}

.mui-grid-view.mui-grid-9:after,.mui-grid-view.mui-grid-9:before {
	display: table;
	content: ' '
}

.mui-grid-view.mui-grid-9:after {
	clear: both;
	position: static
}

.mui-grid-view.mui-grid-9 .mui-table-view-cell {
	margin: 0;
	padding: 11px 15px;
	vertical-align: top;
	border-right: 1px solid #eee;
	border-bottom: 1px solid #eee
}

.mui-grid-view.mui-grid-9 .mui-table-view-cell.mui-active {
	background-color: #eee
}

.mui-grid-view.mui-grid-9 .mui-table-view-cell>a:not(.mui-btn) {
	margin: 0;
	padding: 10px 0
}


.mui-popover.mui-popover-action .mui-table-view {
	margin: 8px;
	text-align: center;
	color: #007aff;
	border-radius: 4px
}

.mui-popover.mui-popover-action .mui-table-view .mui-table-view-cell:after {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	height: 1px;
	content: '';
	-webkit-transform: scaleY(.5);
	transform: scaleY(.5);
	background-color: #c8c7cc
}

.mui-popover.mui-popover-action .mui-table-view small {
	font-weight: 400;
	line-height: 1.3;
	display: block
}

.mui-popover.mui-active {
	display: block;
	opacity: 1
}

.mui-popover .mui-bar~.mui-table-view {
	padding-top: 44px
}






.mui-popover .mui-scroll .mui-table-view {
	max-height: none
}

.mui-popover .mui-table-view {
	overflow: auto;
	max-height: 300px;
	margin-bottom: 0;
	border-radius: 7px;
	background-color: #f7f7f7;
	background-image: none;
	-webkit-overflow-scrolling: touch
}

.mui-popover .mui-table-view:after,.mui-popover .mui-table-view:before {
	height: 0
}

.mui-popover .mui-table-view .mui-table-view-cell:first-child,.mui-popover .mui-table-view .mui-table-view-cell:first-child>a:not(.mui-btn) {
	border-top-left-radius: 12px;
	border-top-right-radius: 12px
}

.mui-popover .mui-table-view .mui-table-view-cell:last-child,.mui-popover .mui-table-view .mui-table-view-cell:last-child>a:not(.mui-btn) {
	border-bottom-right-radius: 12px;
	border-bottom-left-radius: 12px
}

.mui-popover.mui-bar-popover .mui-table-view {
	width: 106px
}

.mui-popover.mui-bar-popover .mui-table-view .mui-table-view-cell {
	padding: 11px 15px;
	background-position: 0 100%
}

.mui-popover.mui-bar-popover .mui-table-view .mui-table-view-cell>a:not(.mui-btn) {
	margin: -11px -15px -11px -15px
}


.mui-slider .mui-slider-group .mui-slider-item .mui-table-view:after,.mui-slider .mui-slider-group .mui-slider-item .mui-table-view:before {
	height: 0
}
